* { margin: 0; padding: 0; outline: 0; }

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
        display: block;
}

@font-face { font-family: RedOctober; src: url(../_fonts/RedOctober.otf) format("opentype") }
@font-face { font-family: Kremlin; src: url(../_fonts/kremline.ttf) format("truetype") }
@font-face { font-family: Russian; src: url(../_fonts/Russian.ttf) format("truetype") }

body { font-family: Ubuntu, Arial; color: #FFFFFF; background-color: #243258; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

a { color: #FFFFFF; text-decoration: none; padding-bottom: 2px; }
a:hover { color: #FF6000; text-decoration: none; padding-bottom: 2px; }
a:active { color: #FFFFFF; text-decoration: none; padding-bottom: 2px; position: relative; top: 1px; }


p { font-size: 24px; margin-bottom: 15px; line-height: 36px; }
strong { font-family: Ubuntu; color: #FF6000; font-size: 72px; }

header { padding: 5px 0; width: 100%; background-color: #FE2E2E; margin-bottom: 25px; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.
4); position: fixed; z-index: 10; float: left; }
#headercontainer, #contentcontainer { width: 960px; margin: 0 auto; position: relative; }
#contentcontainer { float: none; padding-top: 0px; }

/*------------------------ Header ------------------------*/

#header{
        border-top: 6px solid #FF6000;
        height: 100%;
        background: #243258;
        margin: 0;
        padding: 0;
}

#header .header_wrapper{
        width: 960px;
        height: 100px;
        margin: 0 auto;
        padding: 0;
}



#headercontainer a { color: #FFFFFF; text-decoration: none; padding-bottom: 2px; }
#headercontainer a:hover { color: #ffff33; text-decoration: none; padding-bottom: 2px; }
#headercontainer a:active { color: #ffff33; text-decoration: none; padding-bottom: 2px; position: relative; top: 1px; }

.fab, .tagline { color: #FF6000; }
.fas { color: #008000; }

#soon {width: 100%}
#soon h1{font-size: 72px; text-align: center;}
#soon {font-size: 24px; text-align: center;}

section { margin-bottom: 100px; padding-top: 150px; float: left; }

footer { position: relative; background-color: #333333; float: left;  botton: 0px; margin-bottom: 0px; padding: 10px; width: 100%; font-size: 12px; }

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
  padding-top: 10px;
  text-align: center;
}

footer h1 { font-size 12px; text-decoration:none; border-bottom:1px dotted; margin-bottom: 5px;}
footer ul {  margin-top: 20px; margin-bottom: 80px; float: left; margin-right: 40px; }
footer ul li { display: inline; }
footer ul li a { font-size: 12px; }
footer ul li img { vertical-align: bottom; position: relative; top: 2px; }
footer a { color: #FFFFFF; text-decoration: none; padding-bottom: 2px; }
footer a:hover { color: #ffff33; text-decoration: none; padding-bottom: 2px; }
footer a:active { color: #ffff33; text-decoration: none; padding-bottom: 2px; position: relative; top: 1px; }

/*! fork-me-on-github v2.1.0 | (c) 2014, 2014 | MIT License | https://github.com/edull24/fork-me-on-github */

.fork-me-wrapper {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 9999;
}

.fork-me {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #a00000;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxOCIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDE4IDMyIj4KPGc+CjwvZz4KCTxwYXRoIGQ9Ik01LjE0MyAyNi4yODZxMC0wLjcxNC0wLjUtMS4yMTR0LTEuMjE0LTAuNS0xLjIxNCAwLjUtMC41IDEuMjE0IDAuNSAxLjIxNCAxLjIxNCAwLjUgMS4yMTQtMC41IDAuNS0xLjIxNHpNNS4xNDMgNS43MTRxMC0wLjcxNC0wLjUtMS4yMTR0LTEuMjE0LTAuNS0xLjIxNCAwLjUtMC41IDEuMjE0IDAuNSAxLjIxNCAxLjIxNCAwLjUgMS4yMTQtMC41IDAuNS0xLjIxNHpNMTYuNTcxIDhxMC0wLjcxNC0wLjUtMS4yMTR0LTEuMjE0LTAuNS0xLjIxNCAwLjUtMC41IDEuMjE0IDAuNSAxLjIxNCAxLjIxNCAwLjUgMS4yMTQtMC41IDAuNS0xLjIxNHpNMTguMjg2IDhxMCAwLjkyOS0wLjQ2NCAxLjcyM3QtMS4yNSAxLjI0MXEtMC4wMzYgNS4xMjUtNC4wMzYgNy4zOTMtMS4yMTQgMC42NzktMy42MjUgMS40NDYtMi4yODYgMC43MTQtMy4wMjcgMS4yNjh0LTAuNzQxIDEuNzg2djAuNDY0cTAuNzg2IDAuNDQ2IDEuMjUgMS4yNDF0MC40NjQgMS43MjNxMCAxLjQyOS0xIDIuNDI5dC0yLjQyOSAxLTIuNDI5LTEtMS0yLjQyOXEwLTAuOTI5IDAuNDY0LTEuNzIzdDEuMjUtMS4yNDF2LTE0LjY0M3EtMC43ODYtMC40NDYtMS4yNS0xLjI0MXQtMC40NjQtMS43MjNxMC0xLjQyOSAxLTIuNDI5dDIuNDI5LTEgMi40MjkgMSAxIDIuNDI5cTAgMC45MjktMC40NjQgMS43MjN0LTEuMjUgMS4yNDF2OC44NzVxMC45NjQtMC40NjQgMi43NS0xLjAxOCAwLjk4Mi0wLjMwNCAxLjU2Mi0wLjUyN3QxLjI1OS0wLjU1NCAxLjA1NC0wLjcwNSAwLjcyMy0wLjkxMSAwLjUtMS4yNDEgMC4xNTItMS42MzRxLTAuNzg2LTAuNDQ2LTEuMjUtMS4yNDF0LTAuNDY0LTEuNzIzcTAtMS40MjkgMS0yLjQyOXQyLjQyOS0xIDIuNDI5IDEgMSAyLjQyOXoiIGZpbGw9IiNmZmZmZmYiIC8+Cjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (min-width: 40.063em) {
  .fork-me {
    width: auto;
    height: auto;
    top: 40px;
    right: -55px;
    padding: 2px 0;
    box-shadow: 0 0 10px 0 #888888;
    background-color: #a00000;
    background-image: none !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.fork-me-link,
.fork-me-link:link,
.fork-me-link:visited,
.fork-me-link:hover,
.fork-me-link:focus,
.fork-me-link:active {
  display: block;
  height: 100%;
  text-decoration: none;
  border: none;
}

@media only screen and (min-width: 40.063em) {
  .fork-me-link,
  .fork-me-link:link,
  .fork-me-link:visited,
  .fork-me-link:hover,
  .fork-me-link:focus,
  .fork-me-link:active {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    padding: 10px 50px;
    border: 1px solid white;
    text-shadow: 0 0 5px #444444;
  }
}

.fork-me-link:focus {
  text-decoration: underline;
}

.fork-me-text {
  display: none;
}

@media only screen and (min-width: 40.063em) {
  .fork-me-text {
    display: inline;
  }
}

.fork-me-dark {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxOCIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDE4IDMyIj4KPGc+CjwvZz4KCTxwYXRoIGQ9Ik01LjE0MyAyNi4yODZxMC0wLjcxNC0wLjUtMS4yMTR0LTEuMjE0LTAuNS0xLjIxNCAwLjUtMC41IDEuMjE0IDAuNSAxLjIxNCAxLjIxNCAwLjUgMS4yMTQtMC41IDAuNS0xLjIxNHpNNS4xNDMgNS43MTRxMC0wLjcxNC0wLjUtMS4yMTR0LTEuMjE0LTAuNS0xLjIxNCAwLjUtMC41IDEuMjE0IDAuNSAxLjIxNCAxLjIxNCAwLjUgMS4yMTQtMC41IDAuNS0xLjIxNHpNMTYuNTcxIDhxMC0wLjcxNC0wLjUtMS4yMTR0LTEuMjE0LTAuNS0xLjIxNCAwLjUtMC41IDEuMjE0IDAuNSAxLjIxNCAxLjIxNCAwLjUgMS4yMTQtMC41IDAuNS0xLjIxNHpNMTguMjg2IDhxMCAwLjkyOS0wLjQ2NCAxLjcyM3QtMS4yNSAxLjI0MXEtMC4wMzYgNS4xMjUtNC4wMzYgNy4zOTMtMS4yMTQgMC42NzktMy42MjUgMS40NDYtMi4yODYgMC43MTQtMy4wMjcgMS4yNjh0LTAuNzQxIDEuNzg2djAuNDY0cTAuNzg2IDAuNDQ2IDEuMjUgMS4yNDF0MC40NjQgMS43MjNxMCAxLjQyOS0xIDIuNDI5dC0yLjQyOSAxLTIuNDI5LTEtMS0yLjQyOXEwLTAuOTI5IDAuNDY0LTEuNzIzdDEuMjUtMS4yNDF2LTE0LjY0M3EtMC43ODYtMC40NDYtMS4yNS0xLjI0MXQtMC40NjQtMS43MjNxMC0xLjQyOSAxLTIuNDI5dDIuNDI5LTEgMi40MjkgMSAxIDIuNDI5cTAgMC45MjktMC40NjQgMS43MjN0LTEuMjUgMS4yNDF2OC44NzVxMC45NjQtMC40NjQgMi43NS0xLjAxOCAwLjk4Mi0wLjMwNCAxLjU2Mi0wLjUyN3QxLjI1OS0wLjU1NCAxLjA1NC0wLjcwNSAwLjcyMy0wLjkxMSAwLjUtMS4yNDEgMC4xNTItMS42MzRxLTAuNzg2LTAuNDQ2LTEuMjUtMS4yNDF0LTAuNDY0LTEuNzIzcTAtMS40MjkgMS0yLjQyOXQyLjQyOS0xIDIuNDI5IDEgMSAyLjQyOXoiIGZpbGw9IiMwMDAwMDAiIC8+Cjwvc3ZnPgo=");
}

.fork-me-left {
  left: 0;
  right: auto;
}

.fork-me-left .fork-me {
  left: 5px;
  right: auto;
}

@media only screen and (min-width: 40.063em) {
  .fork-me-left .fork-me {
    left: -55px;
    right: auto;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.fork-me-fixed {
  position: fixed;
}
